/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	margin: 0;
}

#canvas {
	padding: 40px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Header~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#headerWrapper {
	position: fixed;
	width: 190px;
	margin: 0;
	padding: 0;
	/*padding-top: 40px;*/
	/*padding-right: 40px;*/
	/*height: 100%;*/
	/*overflow: auto;*/
	/*top: 0;*/
	/*left: 0;*/
	/*bottom: 0;*/
}

#header {
	padding-top: 40px;
	padding-right: 10px;
}

#logo {
	font-size: 40px;
	color: #5d5b5b;
	font-weight: 100;
}

#logo a {
	text-decoration: none;
	color: #5d5b5b;
}

#nav {
	padding-top: 50px;
}

#nav ul {
	list-style-type: none;
	padding: 0;
}

.navOption {
	padding-bottom: 1px;
}

.navOption a {
	text-decoration: none;
	color: #5d5b5b;
	font-weight: 100;
}

.navOption a:hover {
	color: #dcc1c1;
}

#socialPlugs {
	padding-top: 60px;
}

#socialPlugs a {
	text-decoration: none;
	color: #5d5b5b;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#pageWrapper {
	padding-left: 190px;
	/*overflow-y: auto; */
}

#Wrapper {
	margin: 0 auto;
	max-width: 700px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Film~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#title {
	font-weight: 100;
	text-align: center;
	/*font-size: 40px;*/
}

.videoWrapper {
	position: relative;
	/*max-width: 800px;*/
	/*max-height: 450px;*/
	width: 100%;
	height: 0;
	padding-bottom: 56.25%; /* 16:9; */
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*@media screen and (max-width: 750px) {
	.videoWrapper {
		max-width: 100% !important;
		width: auto !important;
		height: auto !important;
	}
}*/