/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Photography~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#Wrapper {
	margin: 0 auto;
	width: 800px;
	/*max-width: 800px;*/
	/*min-width: 600px;*/
}

#whitediv {
	width: 40px;
	height: 100%;
	background-color: white;
	position: fixed;
	left: 0;
}

#title {
	font-weight: 100;
	text-align: center;
	margin: 0;
/*	position: absolute;
width: calc(100% - 270px);*/
/*background-color: white;*/
/*	top: 0px;
	height: 100px;
	line-height: 100px;*/

/*      position: relative;
    top: 150px;
    color: white;
    text-align: center;*/
  }

  #albumSectionTitle {
  	font-weight: 500;
  	margin-bottom: 10px;
  	/*margin-top: 70px;*/
  	margin-top: 18px;
  	color: #5d5b5b;
  	display: inline-block;
  }

  #at_album {
  	display: inherit;
  	cursor: pointer;
  	font-size: 17px;
  	color: black;
  	margin-right: 5px;
  }

  .albumTitle {
  	display: inherit;
  	font-weight: 100;
  	cursor: pointer;
  }

  .albumTitle:hover {
  	/*color: #dcc1c1;*/
  	color: rgba(93, 91, 91, 0.48);
  }

  #at_asia:hover {
  	/*color: #dcc1c1;*/
  	color: rgba(93, 91, 91, 0.48);
  }

  #at_america:hover {
  	/*color: #dcc1c1;*/
  	color: rgba(93, 91, 91, 0.48);
  }

  #at_europe:hover {
  	/*color: #dcc1c1;*/
  	color: rgba(93, 91, 91, 0.48);
  }

  #at_blackwhite:hover {
  	/*color: #dcc1c1;*/
  	color: rgba(93, 91, 91, 0.48);
  }

  #longHorizontal {
  	overflow-x: auto;
  	width: 100%;
  }

  #photographyWrapper {
  	/*width: 100%;*/
  	width: 180%;  
  	height: 100%;
  	text-align: center;
  	overflow: hidden;
  	/*padding-top: 60px;                      */
  	/*padding: 10px;*/
/*	display: -webkit-flex;
	display: flex;
	webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;*/
}

/*.albumWrapper {
	width: 25%;
	height: 100%
	}*/

	.album {
		/*padding: 10px;*/
		display: inline-block;
		/*width: 100%;*/
		/*width: 22.5%;*/
		width: 25%;
		/*max-width: 500px;*/
		float: left;
		/*height: 100%;*/
		/*position: relative;*/
		/*height: auto;*/
		text-align: left;
		text-decoration: none;
		margin-bottom: 40px;
		/*margin-right: 2.5%;*/
		color: black;
	}

	.album:hover {
		color: #dcc1c1;
		cursor: pointer;
	}

	.overlay {
		margin-right: 5%;
	}

	.album:hover > .overlay {
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		/*position: absolute;*/
		background-color: #000;
		opacity: 0.8;
		border-radius: 30px;
	}

	.albumImage {
		/*background: url(images/chipmunk.jpg);*/
		/*background-size: contain;*/
		float: left;
		width: 100%;
		height: 228px;
		background-size: cover;
		/*height: 100%;*/
		/*position: relative;*/
		/*padding: 10px;*/
	}

	#albumImageAsia {
		background-image: url("../images/color/asia/IMG_2329.jpg") 
	}

	#albumImageAmerica {
		background-image: url("../images/color/america/IMG_9222.jpg") 
	}

	#albumImageEurope {
		background-image: url("../images/color/europe/IMG_7386.jpg") 
	}

	#albumImageBW {
		background-image: url("../images/bw/5.jpg") 
	}

	.albumImage:hover > .overlay {
		width:100%;
		height:100%;
		position:absolute;
		background-color:#000;
		opacity:0.5;
		border-radius:30px;
	}

	.album .name {
		/*padding-top: 1px;*/
		position: relative;
		bottom: 150px;
		color: white;
		text-align: center;
		font-weight: 100;
		font-size: 50px;
		margin-right: 5%;
		height: 0px;
	}

	.album time {
		padding-top: 1px;
		color: #5d5b5b;
		font-weight: 100;
	}



	/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ photo display ~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

	.imgWrapper {
		width: 100%;
		padding-top: 63%;
	}

	img {
		/*height: 228px;*/
		/*width: 360px;*/
	}

	.photoDisplay {
		display: none;
		font-size: 0;
		/*max-width: 800px;*/
		/*min-width: 600px;*/
		/*width: 800px;*/
		width: 720px;
		margin: 0 auto;
	}

	.image {
		/*width: 400px;*/
		/*height: 267px;*/
		/*height: 240.3px;*/
		height: 480.6px;
		width: 100%;
	}

	#asiaDisplay {
		/*font-size: 0;*/
	}

	#asiaDisplay .image {
		/*-webkit-filter: saturate(3); filter: saturate(3);*/
		/*width: 50%;*/
		/*display: inline-block;*/
		/*float: left;*/
	}

	#americaDisplay {
		/*font-size: 0;*/
	}

	#americaDisplay .image{
		/*-webkit-filter: grayscale(100%); filter: grayscale(100%);*/
		/*width: 50%;*/
		/*display: inline-block;*/
		/*float: left;*/
	}

	#europeDisplay {
		/*font-size: 0*/
	}

	#europeDisplay .image{
		/*-webkit-filter: contrast(160%); filter: contrast(160%);*/
		/*width: 50%;*/
		/*display: inline-block;*/
		/*float: left;*/
	}

	#blackwhiteDisplay {
		/*font-size: 0;*/
	}

	#blackwhiteDisplay .image{
		/*-webkit-filter: brightness(0.25); filter: brightness(0.25);*/
		/*width: 50%;*/
		/*display: inline-block;*/
		/*float: left;*/
	}