/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Films~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#Wrapper {
	margin: 0 auto;
	max-width: 800px;
}

#title {
	font-weight: 100;
	text-align: center;
	margin: 0;
}

#filmsWrapper {
	width: 100%;
	text-align: center;
	margin-top: 70px;
	/*padding: 10px;*/
/*	display: -webkit-flex;
	display: flex;
	webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;*/
}

.film {
	padding: 10px;
	display: inline-block;
	width: 300px;
	position: relative;
	height: 210px;
	text-align: left;
	text-decoration: none;
	margin-bottom: 40px;
	color: black;
}

.film:hover {
	color: #dcc1c1;
	cursor: pointer;
}

.film div img {
	float: left;
	/*padding: 10px;*/
}

.film .title {
	padding-top: 1px;
}

.film time {
	padding-top: 1px;
	color: #5d5b5b;
	font-weight: 100;
}