/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
	/*font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;*/
	/*font-family: Calibri;*/
	font-family: "Lato", Calibri, sans-serif;
	max-width: 1250px;
	margin: 0 auto !important;
	float: none !important;
}

#canvas {
	padding: 40px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Header~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#headerWrapper {
	position: fixed;
	width: 190px;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
	/*padding-top: 40px;*/
	/*padding-right: 40px;*/
	/*height: 100%;*/
	/*overflow: auto;*/
	/*top: 0;*/
	/*left: 0;*/
	/*bottom: 0;*/
}

#header {
	padding-top: 40px;
	padding-right: 10px;
	position: fixed;
	height: 100%;
	width: 190px;
}

#logo {
	font-size: 49px; /*isue edit: previous 40px*/
	color: #5d5b5b;
	font-weight: 100;

	display:inline-block;
	-webkit-transform:scale(1,1.15);
	-moz-transform:scale(1,1.15); 
	-ms-transform:scale(1,1.15); 
	-o-transform:scale(1,1.15); 
	transform:scale(1,1.15);
}

#logo a {
	text-decoration: none;
	/*color: #5d5b5b;*/
	color: black;
}

#job { /*isue edit: job section is added*/
	font-size: 13px;
	color: rgba(93, 91, 91, 0.48);
	font-weight: 300;
	text-align: right;
	width: 170px;
	left: 17px;
	position: relative;
}

#nav {
	padding-top: 50px;
	font-size: 16px; /*isue edit: added font size*/
}

#nav ul {
	list-style-type: none;
	padding: 0;
}

.navOption {
	padding-bottom: 1px;
}

.navOption a {
	text-decoration: none;
	/*color: #5d5b5b;*/
	color: black;
	font-weight: 100;
}

.navOption a:hover {
	/*color: #dcc1c1;*/
	color: rgba(93, 91, 91, 0.48);
}

#socialPlugs {
	width: 150px;
	padding-top: 60px;
}

#socialPlugs a {
/*	text-decoration: none;
	color: #5d5b5b;
	width: 20px;
	height: 20px;*/
}

#socialPlugs a img {
/*	width: 20px;
	height: 20px;*/
}

#linkLogo {
	width: 20px;
	height: 20px;
}

#fbLogo {
	width: 20px;
	height: 20px;
}

#instaLogo {
	width: 23px;
	height: 23px;
	position: relative;
	top: 2px;
}

#emailLogo {
	position: relative;
	left: 8px;
	top: 2px;
	width: 21px;
	height: 21px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#pageWrapper {
	padding-left: 250px;
	/*overflow-y: auto; */
}

/*#Wrapper {
	margin: 0 auto;
	max-width: 800px;
}*/