/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~About~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#Wrapper {
	margin: 0 auto;
	max-width: 800px;
}

#title {
	font-weight: 100;
	text-align: center;
	margin: 0;
}

#profilePic {
	width: 50%;
}