/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Thank You~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#Wrapper {
	margin: 0 auto;
	max-width: 600px;
}

#title {
	font-weight: 100;
	text-align: center;
	margin: 0;
}

#thanksWrapper {
	width: 100%;
	text-align: center;
	margin-top: 40px;
	text-align: left;
}

.thanks {
	font-weight: 100;
	text-align: center;
	margin: 0;
}